boto3==1.43.97
botocore==1.43.97
colorama==0.4.6
iniconfig==2.3.0
jmespath==1.1.0
packaging==26.3
pluggy==1.6.0
Pygments==2.21.0
pytest==9.1.1
python-dateutil==2.9.0.post0
s3transfer==0.19.2
six==1.17.0
tzdata==2026.4
urllib3==2.8.0
